@keyframes FadeOut {
    0% {
        visibility: visible;
        opacity: 1;
    }

    50% {
        visibility: visible;
        opacity: 1;
    }

    100% {
        visibility: hidden;
        opacity:0;
    }
}

@keyframes rotate1 {
    0% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
        opacity: 0;
    }
    20% {
        opacity: 0.3;
    }
    100% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
        opacity: 1;
    }
}

@keyframes rotate2 {
    0% {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
        opacity: 0;
    }    
    20% {
        opacity: 0.3;
    }
    100% {
        opacity: 1;
        transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
}

@keyframes rotate3 {
    0% {
        opacity: 0;
        transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }
    20% {
        opacity: 0.3;
    }
    100% {
        opacity: 1;
        transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
}

@keyframes slideUp {
    from {
        transform: translateY(200px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 100%;
    }
}